<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>ISBN</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @books.each do |book| %>
    <tbody>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <% if user_signed_in? && book.reserved == false %>
          <td><%= link_to 'Show', book_path(book) %></td>
          <td><%= link_to 'Make a reservation', edit_book_path(book) %></td>
        <% elsif user_signed_in? && book.reserved == true %>
          <td><%= link_to 'Show', book_path(book) %></td>
          <td><p>This book is reserved</p></td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>

<%= will_paginate @books, renderer: BootstrapPagination::Rails %>
