<%= simple_form_for book do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, disabled: (true unless current_user.admin?) %>
  </div>
  <div class="form-inputs">
    <%= f.input :isbn, disabled: (true unless current_user.admin?) %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :reserved, value: true %>

  <div class="form-actions">
    <% if current_user.admin? %>
      <%= f.button :submit, "Update" %>
    <% elsif !book.reserved %>
      <%= f.button :submit, "Create reservation" %>
    <% end %>
  </div>
<% end %>
